@import '~style/helpers';

.home {
	padding: 2rem;
	min-height: 100%;
	width: 100%;
	margin: auto;
	max-width: 36rem;
}
.main {
	margin-bottom: 1rem;
}

.small {
	max-width: 10rem;
	float: left;
	margin-right: 1rem;
}
